<!DOCTYPE html>
<html>
    <head>
        <title>Brad Sherman</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Saira+Condensed" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://use.fontawesome.com/af27e3ffb6.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> -->
        <script src="js/particles.js"></script>
        <script src="js/script.js"></script>
    </head>
    <body>
      <div id="wrapper">
        <div id="leftSideBar">
          <div id="nameInfo">
            <h1 class="topHeader">Brad Sherman</h1>
            <h3 class="statHeader">Character Class:</h3>
            <h3 class="statSub">Web/Software Developer</h3>
            <h3 class="statHeader">Objective:</h3>
            <h3 class="statSub">Ambitious, self motivated web developer with strong communication and problem-solving skills. Seeking a rewarding career that enables work on a variety of inspired projects and mutual, continuous growth.</h3>
          </div>
          <img src='images/me4cutout.png' id="profilePic">
          <!-- <div class="marquee">
            <div class='marquee-text'>
              "Someone I once knew wrote that we walk away from our dreams afraid that we may fail or worse yet, afraid we may succeed."
            </div>
          </div> -->
        </div>
        <div id="rightSide">
          <div id="levelBar">
            <div id="currentLevel">
              <p>Level 30</p>
              <p>600/1000 EXP</p>
            </div>
          </div>
          <div id="skillsBar">
            <h1>Powers</h1>
            <h2 id="languagesHead" class="statHeader">Languages</h2>
              <div id="languagesDiv" class="skillsDiv">
                <div class='skills'><p>Python</p><i class='devicon-python-plain'></i></div>
                <div class='skills'><p>C #</p><i class='devicon-csharp-plain'></i></div>
                <div class='skills'><p>Javascript</p><i class='devicon-javascript-plain'></i></div>
                <div class='skills'><p>TypeScript</p><i class='devicon-typescript-plain'></i></div>
                <div class='skills'><p>HTML</p><i class='devicon-html5-plain'></i></div>
                <div class='skills'><p>CSS</p><i class='devicon-css3-plain'></i></div>
              </div>
            <h2 id="frameworksHead" class="statHeader">Frameworks</h2>
              <div id="frameworksDiv" class="skillsDiv">
                <div class='skills'><p>Django</p><i class="devicon-django-plain"></i></div>
                <div class='skills'><p>AngularJS</p><i class="devicon-angularjs-plain"></i></div>
                <div class='skills'><p>Express</p><i class="devicon-express-original"></i></div>
                <div class='skills'><p>Flask</p><i class="devicon-python-plain"></i></div>
                <div class='skills'><p>ASP.NET Core</p><i class="devicon-csharp-plain"></i></div>
                <div class='skills'><p>Node</p><i class="devicon-nodejs-plain"></i></div>
              </div>
            <h2 id="databasesHead" class="statHeader">Databases</h2>
              <div id="databasesDiv" class="skillsDiv">
                <div class='skills'><p>MySQL</p><i class="devicon-mysql-plain"></i></div>
                <div class='skills'><p>SQLite</p></div>
                <div class='skills'><p>NoSQL</p></div>
                <div class='skills'><p>Entity</p></div>
                <div class='skills'><p>Dapper</p></div>
                <div class='skills'><p>MongoDB</p><i class="devicon-mongodb-plain"></i></div>
              </div>
            <h2 id="othersHead" class="statHeader">Others</h2>
              <div id="othersDiv" class="skillsDiv">
                <div class='skills'><p>GitHub</p><i class="devicon-github-plain"></i></div>
                <div class='skills'><p>jQuery</p><i class="devicon-jquery-plain"></i></div>
                <div class='skills'><p>NPM</p></div>
                <div class='skills'><p>APIs</p></div>
                <div class='skills'><p>REST</p></div>
                <div class='skills'><p>AJAX</p></div>
              </div>
          </div>
          <div id="projectsBar">
            <h1>Inventory</h1>
            <div class="projectsDiv">
              <a href='http://54.213.110.253/'><img src='images/userdashscreen.png' alt="userdashscreen">
              <h3>User Dashboard</h3></a>
              <div id="userDashInfo">
                <p>A user dashboard template with administrator functionality and an internal message board system.</p>
                <p>Developed using Python, Django, SQLite, HTML, CSS</p>
              </div>
            </div>
          </div>
          <div id="contactBar">
            <h1>Contact</h1>
            <div class="contacts">
              <a href="mailto:bradvsherman@gmail.com"><h3>Email</h3>
              <i class="fa fa-envelope contactIcons" aria-hidden="true"></i></a>
            </div>
            <div class="contacts">
              <a href="https://github.com/shermancipation" target="_blank"><h3>GitHub</h3>
              <i class="fa fa-github-square contactIcons" aria-hidden="true"></i></a>
            </div>
            <div class="contacts">
              <a href="https://www.linkedin.com/in/bradley-sherman-38141362/" target="_blank"><h3>LinkedIn</h3>
              <i class="fa fa-linkedin-square contactIcons" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
